name: Build Release EXE

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --name "Image Geotagger" --windowed --icon bin/icon.ico image_geotagger.pyw

      - name: Copy bin folder manually
        run: |
          xcopy /E /I /Y bin "%CD%\dist\Image Geotagger\bin"

      - name: Remove _internal folder if it exists
        run: |
          if exist "%CD%\dist\Image Geotagger\_internal" rmdir /S /Q "%CD%\dist\Image Geotagger\_internal"

      - name: Zip Image Geotagger folder
        run: |
          cd dist
          powershell Compress-Archive -Path "Image Geotagger/*" -DestinationPath "Image_Geotagger.zip"

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/Image_Geotagger.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
